<!-- <!DOCTYPE html>
<html ng-app="myApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="script.js"></script>  
</head>

<body>
  Form to get username & Password
   <form>
   <centre>
   <h3>LOGIN</h3>
      <label>Username:</label><input type="text" ng-model="username" /></br></br>
      <label></label>Password:</label><input type="password" ng-model="password"></br>
      <button  type="submit" ng-click="submit()">login</button></br></br>
      </centre>
  </form>
</body>
</html> -->